{% load bootstrap4 %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
<nav class="navbar "></nav>
<p>
    <a href="{% url 'learning_logs:index' %}">LearningLog</a>
    <a href="{% url 'learning_logs:topics' %}">Topics</a>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <a href="{% url 'logout' %}">log out</a>
    {% else %}
        <a href="{% url 'users:signup' %}">signup</a>
        <a href="{% url 'login' %}">log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}

</body>
</html>


